/* Responsive Untuk Tablet */
@media all and (max-width: 1000px) {

  /*CSS untuk header*/
  .header-logo a{
    font-size: 28px;
    line-height: 65px;
    text-decoration: none;
  }

  .header-menu{
    padding-right: 20px;
  }
  
  .header-menu a {
    line-height: 65px;
    font-size: 14px;
    padding: 0 15px;
  }
  /*Akhir CSS untuk header*/

  /*CSS untuk Top Wrapper*/
  .top-wrapper h1{
    font-size: 26px;
  }

  .top-wrapper p{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Akhir CSS untuk Top Wrapper*/

  /*CSS untuk Team*/
  .team img{
    height: 150px;
    width: 150px;
  }

  .team h2{
    font-size: 18px;
  }

  .team p{
    font-size: 14px;
  }
  /*Akhir CSS untuk Team*/
}


/*Responsive Untuk Smartphone */
@media all and (max-width: 670px) {
  /*CSS untuk header*/
  .header-logo{
    padding-left: 5px;
  }
  .header-logo a{
    font-size: 22px;
    line-height: 65px;
    text-decoration: none;
  }
  .header-menu{
    padding-right: 30px;
  }
  .header-menu a {
    line-height: 65px;
    font-size: 12px;
    padding: 0 5px;
  }
  /*Akhir CSS untuk header*/

  /*CSS untuk Top Wrapper*/
  .top-wrapper h1{
    font-size: 22px;
  }

  .top-wrapper p{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /*Akhir CSS Untuk Top Wrapper*/

  /*CSS Untuk Team*/
  .main-team{
    width: 75%;
  }

  .team{
    width: 50%;
  }

  .team img{
    height: 120px;
    width: 120px;
  }

  .team h2{
    font-size: 14px;
  }

  .team p{
    font-size: 12px;
  }
  /*Akhir CSS untuk Team*/
}
