/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .header-logo a{
    font-size: 28px;
    line-height: 65px;
    text-decoration: none;
  }

  .header-menu{
    padding-right: 20px;
  }
  
  .header-menu a {
    line-height: 65px;
    font-size: 14px;
    padding: 0 15px;
  }

  .top-wrapper h1{
    font-size: 26px;
  }

  .top-wrapper p{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .team img{
    height: 150px;
    width: 150px;
  }

  .team h2{
    font-size: 18px;
  }

  .team p{
    font-size: 14px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-logo{
    padding-left: 5px;
  }
  .header-logo a{
    font-size: 22px;
    line-height: 65px;
    text-decoration: none;
  }
  .header-menu{
    padding-right: 30px;
  }
  .header-menu a {
    line-height: 65px;
    font-size: 12px;
    padding: 0 5px;
  }

  .top-wrapper h1{
    font-size: 22px;
  }

  .top-wrapper p{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .team{
    width: 50%;
  }

  .team img{
    height: 120px;
    width: 120px;
  }

  .team h2{
    font-size: 14px;
  }

  .team p{
    font-size: 12px;
  }
}
