/* Responsive Untuk Tablet */
@media all and (max-width: 1000px) {

  /*CSS untuk header*/
  .header-logo a{
    font-size: 28px;
    line-height: 65px;
    text-decoration: none;
  }

  .header-menu{
    padding-right: 20px;
  }
  
  .header-menu a {
    line-height: 65px;
    font-size: 14px;
    padding: 0 15px;
  }
  /*Akhir CSS untuk header*/

  /*CSS untuk Top Wrapper*/
  .top-wrapper h1{
    font-size: 26px;
  }

  .top-wrapper p{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* Akhir CSS untuk Top Wrapper*/

  /*CSS untuk Team*/
  .about img{
    height: 200px;
    width: 250px;
  }

  .team img{
    height: 150px;
    width: 150px;
  }

  .team h2{
    font-size: 18px;
  }

  .team p{
    font-size: 14px;
  }
  /*Akhir CSS untuk Team*/

  /*CSS untuk Services*/
  .content-services img{
    max-width: 350px;
    max-height: 350px;
  }
  /*Akhir CSS Untuk Services*/

  /*CSS untuk COntact Form*/

  form input, textarea{
    width: 80%;
  }

  .btn-send{
    padding: 5px 25px;
  }
  /*Akhir CSS Untuk Contact Form*/
}


/*Responsive Untuk Smartphone */
@media all and (max-width: 670px) {
  /*CSS untuk header*/
  .header-logo{
    padding-left: 5px;
  }
  .header-logo a{
    font-size: 22px;
    line-height: 65px;
    text-decoration: none;
  }
  .header-menu{
    padding-right: 30px;
  }
  .header-menu a {
    line-height: 65px;
    font-size: 12px;
    padding: 0 3px;
  }
  /*Akhir CSS untuk header*/

  /*CSS untuk Top Wrapper*/
  .top-wrapper h1{
    font-size: 22px;
  }

  .top-wrapper p{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /*Akhir CSS Untuk Top Wrapper*/

  /*CSS Untuk Team*/
  .main-team{
    width: 75%;
  }

  .about p{
    font-size: 14px;
  }

  .team{
    width: 50%;
  }

  .team img{
    height: 120px;
    width: 120px;
  }

  .team h2{
    font-size: 14px;
  }

  .team p{
    font-size: 12px;
  }
  /*Akhir CSS untuk Team*/

  /*CSS untuk Services*/

  .content-services img{
    max-width: 250px;
    max-height: 250px;
  }

  .content-services h2{
    font-size: 14px;
  }
  .content-services p{
    font-size: 13px;
  }
  /*Akhir CSS Untuk Services*/

  /*CSS Untuk Contact form*/
  form input, textarea{
    width: 100%;
  }
  /*Akhir CSS Untuk Contact Form*/
}
