html{
    scroll-behavior:smooth;
}

body {
  margin: 0;
  font-family: Poppins;
}


/* CSS Untuk Header */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.6);
  position :fixed;
  top: 0;
  z-index: 10;
}

.menu-icon {
  color: white;
  float: right;
  cursor: pointer;
  font-size: 25px;
  padding: 15px 0;
  /* Gantikan property display ke none */
  display: none;
}

.header-logo {
  float: left;
  padding-left: 20px; 
}

.header-logo a{
  font-family: Viga;
  font-size: 32px;
  color: white;
  line-height: 65px;
  text-decoration: none;
}

.header-menu {
  float: right;
  padding-right: 50px; 
}

.header-menu a {
  display: block;
  line-height: 65px;
  padding: 0 20px;
  color: white;
  float: left;
  transition: all 0.5s;
  text-decoration: none;
}

.header-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: yellow;
  border-bottom: 3px solid yellow;
}
/*Akhir CSS untuk header */


/* CSS untuk Top Wrapper */
.top-wrapper{
  padding: 160px 0px;
  background-image: url('../img/background.jpg');
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1{
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.9);
}

.top-wrapper h1 span{
    color: yellow;
}

.top-wrapper p{
  text-shadow: 1px 1px 10px rgba(0,0,0,0.9);
}

.top-wrapper a{
  background: #edbb00;
  padding: 5px 25px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.top-wrapper a:hover{
  transform: scale(1.1);
}
/* Akhir CSS untuk Top Wrapper*/


/* CSS Untuk Team*/
hr{
  width: 250px;
  border-top: 3px solid #999;
}

.main-team {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: -60px;
  text-align: center;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  background-color: white;
  justify-content: center;
}

.head{
  width: 100%;
  text-align: center;
}

.about{
  width: 80%;
}

.about img{
  height: 250px;
  width: 300px;
}

.about span{
  font-weight: bold;
}

.team{
  padding-top: 50px;
  width: 30%;
}

.team img{
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 2px solid #E4E4E4;
}

.team h2{
  margin: 0 auto;
}
/*Akhir CSS Untuk Team*/


/* CSS untuk Services*/

.head-services{
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

.body-services{
  width: 100%;
  text-align: center;
}

.content-services{
  width: 75%;
  margin: auto;
}

.content-services img{
  padding-top: 40px;
  max-width: 450px;
  max-height: 450px;
}

.content-services p{
  text-align: justify;
}

.services{
  box-shadow:  1px 1px 10px rgba(0,0,0,0.5);
  margin-top: 40px;
  margin-bottom: 60px;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)120%), url('../img/bg-oa.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.main-services{
  padding: 80px 0px;
  text-align: center;
}

.main-services h2{
  font-size: 32px;
  color: white;
}

.main-services p{
  color: white;
}

.main-services span{
  color: #edbb00;
}

.main-services a{
  background: #edbb00;
  padding: 5px 25px;
  display: inline-block;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.main-services a:hover{
  transform: scale(1.1);
}
/* Akhir CSS untuk services*/



/*CSS Untuk COntact Form*/
.contact-form{
  width: 80%;
  margin: auto;
}

.form{
  display: flex;
  padding-top: 20px;
}

.form-15{
  width: 20%;
}

.form-75{
  width: 80%;
}

form input, textarea{
  width: 50%;
  border: 1px solid #dee7ec;
  padding: 5px
}

.btn-send{
  cursor: pointer;
  background: blue;
  padding: 10px 45px;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.btn-send:hover{
  transform: scale(1.1);
}
/*Akhir CSS Untuk Contact Form*/



/* CSS Untuk Footer*/
.footer{
  margin-top: 40px;
  height: 80px;
  background-color: rgb(34, 49, 52);
  color: white;
  text-align: center;
}

.footer p{
  font-size: 14px;
  padding: 30px 0px;
}
/*Akhir CSS Untuk Footer*/
